[submodule "thirdparty/g2o"]
	path = thirdparty/g2o
	url = https://github.com/RainerKuemmerle/g2o.git
[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = https://github.com/pybind/pybind11.git
